.clearfix {
  margin: 0;
  overflow: auto;
}
.nav_main_container {
  width: 17%;
  background-color: rgb(3, 42, 62);
  color: white;
}
.nav_header {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.nav_heading_text {
  font-size: 20px;
}
.nav_body {
  width: 100%;
  margin-top: 20px;
}
.nav_link_section {
  width: 100%;
  display: flex;
  gap: 8px;
  color: rgb(205, 205, 205);
  padding-left: 15px;
}
.nav_section_text {
  font-size: 12px;
  margin-top: 0px;
}
.nav_link_wrapper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 10px;
  color: white;
  cursor: pointer
}
.nav_link_wrapper:hover {
  background-color: rgb(152, 152, 152);
  color: black;
}
.nav_link {
  font-size: 15px;
  font-weight: 400;
}

@media only screen and (max-width: 900px) {
  .nav_main_container{
    width: 25%;
  }
}