.review-form-container{
    width: 50%;
    margin: auto;
    padding-top:20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:10px;
    margin-top: 20px;
     margin-bottom: 20px;
    background-color:white;
}
.review-form-wrapper{
    width: 90%;
    margin: auto;
    text-align: center
}
 