.order-detail-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: white;
  margin-bottom: 5px;
}
.order-detail-wrapper {
  width: 95%;
  margin: auto;
  display: flex;
}
.order-detail-image {
  width: 12%;
  padding-top: 30px;
}
.order-detail {
  width: 88%;
  padding-left: 10px;
}
.order-detail-header {
  margin-bottom: 3px;
  display: flex;
}
.order-detail-header-status {
  width: 75%;
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  
}
.order-detail-header-orddetails {
  width: 40%;
  font-size: 13px;
  font-weight: 600;
}
.order-body {
  display: flex;
  margin-bottom: 10px;
  padding-left: 10px;
  border-top: 1px solid rgb(211, 211, 211);
  padding-top: 5px;
}
.order-rating-btn {
  width: 80px;
  height: 25px;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid #F1894C;
  border-radius: 5px;
  background-color: #fbb86a;
}
.order-rating-btn:hover {
  background-color: #f89c33;
  color: white;
}
