.clearfix {
  overflow: auto;
}
.shopping-cart-item-count{
  width: 100%;
  height:80px;
  background-color:#ffffff;
  margin-bottom: 10px;
}
.cart-clean-btn{
 float: right;
 margin-top:50px;
 margin-right: 20px;
 border:none;
 outline:none;
 background-color:transparent;
 cursor:pointer;
 font-weight:bold
}
.cart-clean-btn:hover{
 color: brown;
}
.shopping-cart-container {
  width: 85%;
  margin: auto;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 8px;
}
.shopping-cart-items-wrapper {
  width: 70%;
}
.shopping-cart-items-total-wrapper {
  width: 30%;
  height: 230px;
  background-color: #a47148;
  padding-top: 15px;
  color: white;
}
.shopping-cart-items-total-dis {
  width: 100%;
  display: flex;
  margin-top: 30px;
}
.shopping-cart-items-total-dis-question {
  width: 50%;
  /* background-color: aqua; */
  justify-content: center;
  text-align: center;
  font-size: 14px;
}
.shopping-cart-items-total-dis-answer {
  width: 50%;
  /* background-color: aqua; */
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
}
.shopping-cart-items-subtotal {
  width: 100%;
  display: flex;
  margin-top: 40px;
}
.shopping-cart-proceed-btn-wrapper {
  width: 100%;
  margin-top: 22px;
}
.shopping-cart-proceed-btn{
  width: 50%;
  height: 30px;
  background-color: #F4F4F9;
  outline: none;
  border: 1px solid #a7a7a770;
  border-radius: 10px;
  color: #A47148;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer
}
.shopping-cart-proceed-btn:hover {
  background-color: #f3d5b5;
    color: #674325;
}

/* shopping cart item css */
.shopping-cart-item-container {
  width: 100%;
  height: 90px;
  display: flex;
  background-color: #ffffff;
  margin-bottom: 5px;
  border-bottom:3px solid #f5f5f5;
}
.shopping-cart-item-image {
  width: 30%;
  padding-top: 5px;
}
.shopping-cart-item-name {
  width: 55%;
  text-align: start;
  padding-top:10px
}
.shopping-cart-item-action {
  width: 15%; 
  font-weight:500
}
.shopping-cart-item-action-btn{
  float: right;
  margin-top: 12px;
  margin-right:10px;
}
.shopping-cart-item-action-btn:hover{
  color: red;
  cursor: pointer
}

.payment-edit-section{
  width: 100%;
  height: 90px;
  color: black;
background-color: rgb(255, 255, 255);
  margin-top: 20px;
}