 
.dash_section_one_container {
  width: 97%;
  margin: auto;
  height: 80px;
  background-color: white;
  margin-top: 30px;
}
.dash_section_one_container_header {
  float: left;
  margin-left: 25px;
  margin-top: 5px;
}
.dash_section_one_container_box {
  width: 12%;
  height: 80px;
  float: right;
  cursor: pointer;
  transition: width 2s;
}
.dash_section_one_container_box:hover {
  background-color: rgb(247, 247, 247);
  width: 200px;
}
.dash_section_one_container_box_topic {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.dash_section_one_container_box_body {
  text-align: center;
  margin-top: -15px;
  font-size: 15px;
  font-weight: 500;
}
.dash_section_two_container {
  width: 97%;
  margin: auto;
  margin-top: 10px;
   
}
.graph-wrapper {
  width: 69%;
  float: left;
  padding-bottom: 10px;
  background-color: white;
}
.stat-wrapper {
  width: 30%;
  float: right;
  background-color: white;
  padding-bottom: 15px;
}
.stat-summary-section-wraper{
  width: 95%;
  height: 30px;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.stat-summary-section-topic{
  width: 70%;
  font-size: 14px;
  font-weight: 500;
  color:gray;
  text-align: center
}
.stat-summary-section-answer{
  width: 30%;
  font-size: 17px;
  font-weight: 500;
  color:rgb(0, 0, 0);
  text-align: center
}











@media only screen and (max-width: 1250px) {
  .dash_section_two_container {
    width: 97%;
    display: block;
  }
   .graph-wrapper {
    width: 100%;
  }
  .stat-wrapper {
    width: 40%;
    float: left;
    margin-top: 10px;
    
  }
}
@media only screen and (max-width: 900px) {
  .body-container {
    width: 75%;
    height: 100vh;
  }
  
}

 
