.order-details-header-container {
  width: 97%;
  min-height: 60px;
  margin: auto;
  background-color: white;
  margin-top: 30px;
  display: flex;
}
.order-details-header-section-one {
  width: 50%;
   
  display: flex;
 align-items: center;
 font-size:14px

}
.order-details-header-section-two {
  width: 50%;
   
text-align: end;
}
.order-details-item-container {
  width: 97%;
  margin: auto;
  background-color: white;
  margin-top: 10px;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.order-details-item-section-left {
  width: 40%;
  text-align: center;
}
.product-image {
  width: 200px;
  height: 180px;
  border-radius: 10px;
}
.order-details-item-section-right {
  width: 60%;
}
.order-details-item-section-right-row {
  width: 100%;
  height: 30px;
  display: flex;
  font-size: 14px;
  align-items: center;
}
.order-details-item-section-right-row-left {
  width: 25%;
  font-weight: 500;
}
.order-details-item-section-right-row-right {
    width: 75%;
    font-weight: bold
}
.shipping-details-container{
    width: 97%;
  margin: auto;
  background-color: white;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.shipping-details-wrapper{
  width: 90%;
  display: flex;
  margin: auto;
  font-size: 14px;
  margin-top: 5px;
}
.shipping-details-question{
  width: 20%;
  padding-left: 60px;
  font-weight: 500;
 
}
.shipping-details-answer{
width: 80%;
font-weight: 700;
 
}