.shipped-section-one-container {
  width: 97%;
  margin: auto;
  background-color: white;
  margin-top: 30px;
  display: flex;
}
.shipped-section-one-left{
width:50%;
align-items: center;
display: flex
}
.shipped-section-one-right{
width:50%;
text-align: end;
}
.search-box{
    width:65%;
    height: 35px;
    margin-top: 13px;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    padding-left: 10px;
}