.site-body-header {
  width: 100%;
  height: 170px;
  /* background-color: #0e4879; */
  background-color:#0c4599
}
 .site-body-header-details-wrapper {
  width: fit-content;
  padding-top: 67px;
  float: left;
  display: flex;
  margin-left: 30px;
  gap:10px;
  color:white
}
.site-body-header-icon-wrapper {
  width: fit-content;
  padding-top: 75px;
  float: right;
  margin-right: 20px;
}
.site-body-header-icon {
  margin-right: 15px;
  color: aliceblue;
  z-index: 1;
  cursor: pointer;
}