
  .tbldata {
    vertical-align: top;
    border: 1px solid #eee;
    padding: 5px 5px 5px 5px;
    background-color: white;
  }
  th.tbldata {
    background-color: #4b58ee;
    text-align: center;
    color: white;
  }
  th.tbldata:first-child {
    border-top-left-radius: 5px;
  }
  
  th.tbldata:last-child {
    border-top-right-radius: 5px;
  }
  tr:last-child td.tbldata:first-child {
    border-bottom-left-radius: 5px;
  }
  
  tr:last-child td.tbldata:last-child {
    border-bottom-right-radius: 5px;
  }
  td.tbldata {
    width: 50px;
  }
  
  tr.tbldata:hover {
    border: 2px solid blue;
    color: blue;
  }
  
  .btnEdit {
    background-color: cornflowerblue;
    color: white;
    font-weight: 500;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
    transition: background-color 0.5s, border 0.5s;
  }
  
  .btnEdit:hover {
    background-color: rgb(76, 126, 218);
    border: 1px solid rgb(76, 126, 218);
  }
  
  .btnDelete {
    background-color: red;
    color: white;
    font-weight: 500;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    transition: background-color 0.5s, border 0.5s;
  }
  
  .btnDelete:hover {
    background-color: rgb(216, 0, 0);
    border: 1px solid rgb(216, 0, 0);
  }
  .checkBoxLabel {
    margin-right: 40px;
  }
  
  table.tbldata {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
  